#include "resource.h"
#include "windows.h"


//
// Bitmap resources
//
5000                BITMAP        "logo.bmp"


//
// Icon resources
1                   ICON          "hylab.ico"

//
// Dialog resources
//
5000 DIALOGEX 0,0,400,250
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "About HyLab"
FONT 8,"MS Shell Dlg",400,0,0
BEGIN
    CONTROL         5000,IDC_STATIC,WC_STATIC,SS_BITMAP,75,25,232,66
    LTEXT           "Copyright (c) 2010 Huys",IDC_STATIC,135,105,125,10
    LTEXT           "HyLab is my extension of  Fluent.\r\nEmail: huys03@gmail.com",IDC_STATIC,75,130,255,85,SS_SUNKEN | SS_CENTER | SS_CENTERIMAGE
END


5001 DIALOGEX 0,0,400,250
STYLE DS_CENTER | DS_MODALFRAME | DS_SETFONT | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "HyLab Infomation"
FONT 8,"MS Shell Dlg",400,0,0
BEGIN
    CONTROL        5000,IDC_STATIC,WC_STATIC,SS_BITMAP,75,25,232,66
    LTEXT           "int",IDC_STATIC,55,110,87,25
    EDITTEXT        IDC_EDIT1,195,110,110,26,ES_AUTOHSCROLL
    LTEXT           "real",IDC_STATIC,55,155,87,25
    LTEXT           "text",IDC_STATIC,55,200,87,25
    EDITTEXT        IDC_EDIT2,195,155,110,26,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT3,195,200,110,26,ES_AUTOHSCROLL
    PUSHBUTTON      "Apply",IDC_BUTTON1,315,155,44,30
END
